<table class="table-auto w-full text-left">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">Nombre</th>
        <th class="px-4 py-2">Serie Favorita</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">1</td>
        <td class="border px-4 py-2">Profe Marco</td>
        <td class="border px-4 py-2">Umbrella Academy</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">2</td>
        <td class="border px-4 py-2">Josue</td>
        <td class="border px-4 py-2">Ben 10</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">3</td>
        <td class="border px-4 py-2">Daniela</td>
        <td class="border px-4 py-2">Anne</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">4</td>
        <td class="border px-4 py-2">Lore</td>
        <td class="border px-4 py-2">Malcolm</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">5</td>
        <td class="border px-4 py-2">Daniel</td>
        <td class="border px-4 py-2">Breaking Bad</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">6</td>
        <td class="border px-4 py-2">Antonio</td>
        <td class="border px-4 py-2">The Walking Dead</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">7</td>
        <td class="border px-4 py-2">Dulce</td>
        <td class="border px-4 py-2">The Walking Dead</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">8</td>
        <td class="border px-4 py-2">Bryan</td>
        <td class="border px-4 py-2">La Casa de Papel</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">9</td>
        <td class="border px-4 py-2">Amaury</td>
        <td class="border px-4 py-2">Drake y Josh</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">10</td>
        <td class="border px-4 py-2">Carlos</td>
        <td class="border px-4 py-2">América</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">11</td>
        <td class="border px-4 py-2">Zyanya</td>
        <td class="border px-4 py-2">Transformers Prime</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">12</td>
        <td class="border px-4 py-2">Karen</td>
        <td class="border px-4 py-2">Bones</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">13</td>
        <td class="border px-4 py-2">Uriel</td>
        <td class="border px-4 py-2">Black Clover</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">14</td>
        <td class="border px-4 py-2">Agustín</td>
        <td class="border px-4 py-2">Berlín</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">15</td>
        <td class="border px-4 py-2">Chris</td>
        <td class="border px-4 py-2">Luis Miguel</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">16</td>
        <td class="border px-4 py-2">Jonathan</td>
        <td class="border px-4 py-2">Bajoterra</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">17</td>
        <td class="border px-4 py-2">Edgar</td>
        <td class="border px-4 py-2">Daredevil</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">18</td>
        <td class="border px-4 py-2">Juvenal</td>
        <td class="border px-4 py-2">Final Space</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">19</td>
        <td class="border px-4 py-2">Teco</td>
        <td class="border px-4 py-2">Euphoria</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">20</td>
        <td class="border px-4 py-2">Tania</td>
        <td class="border px-4 py-2">Hora de Aventura</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">21</td>
        <td class="border px-4 py-2">Brandom</td>
        <td class="border px-4 py-2">Legends of Tomorrow</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">22</td>
        <td class="border px-4 py-2">Esther</td>
        <td class="border px-4 py-2">La Casa de Papel</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">23</td>
        <td class="border px-4 py-2">Abril</td>
        <td class="border px-4 py-2">Jóvenes Altezas</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">24</td>
        <td class="border px-4 py-2">Ángel</td>
        <td class="border px-4 py-2">Wandavision</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">25</td>
        <td class="border px-4 py-2">Ida</td>
        <td class="border px-4 py-2">Rick y Morty</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">26</td>
        <td class="border px-4 py-2">Osvaldo</td>
        <td class="border px-4 py-2">Tokyo Ghoul</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">27</td>
        <td class="border px-4 py-2">Marcos</td>
        <td class="border px-4 py-2">Game of Thrones</td>
      </tr>
    </tbody>
  </table>

