/* Asegura que el host ocupe el 100% de la pantalla */
:host {
    display: block;
    height: 100%;
    width: 100%;
}

/* Asegura que el contenedor principal (app-container) ocupe el 100% de la altura y ancho */
.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

/* Define el estilo para el contenido de párrafos */
p {
    text-align: justify;
    margin: 0;
    padding: 10px;
}
